<section class="container">
    <md-button class="md-raised md-primary" ng-click="showUploadDataset($event)">+ New Dataset</md-button>

    <!-- club datasets -->
    <h1 class="md-display-1">Club Datasets</h1>

    <div layout="row" layout-xs="column" layout-wrap>
        <div ng-repeat="dataset in clubDatasets" layout="column" class="text-center col-section" flex-gt-xs="25">
            <img src="images/icons/clipboard.svg" alt="dataset icon" class="shield" ng-if="!dataset.sponsored" />
            <h2 ng-if="!dataset.sponsored" class="md-headline">{{ dataset.name }}</h2>
            <p ng-if="!dataset.sponsored">{{ dataset.description }}</p>
            <p ng-if="!dataset.sponsored">
                <i class="fa fa-tags" aria-hidden="true"></i> {{ dataset.tags }}
            </p>
            <md-button ng-if="!dataset.sponsored" class="md-raised" ng-href="{{ dataset.url }}">
                <i class="fa fa-download" aria-hidden="true"></i> Download
            </md-button>
        </div>
    </div>

    <div class="divider"></div>

    <!-- sponsored datasets -->
    <h1 class="md-display-1">Sponsored Datasets</h1>
    
    <div layout="row" layout-xs="column" layout-wrap>
        <div ng-repeat="dataset in sponsoredDatasets" layout="column" class="text-center col-section" flex-gt-xs="25">
            <img src="images/icons/clipboard.svg" alt="dataset icon" class="shield" />
            <h2 class="md-headline">{{ dataset.name }}</h2>
            <p>{{ dataset.description }}</p>
            <p><i class="fa fa-tags" aria-hidden="true"></i> {{ dataset.tags }}</p>
            <md-button class="md-raised" ng-href="{{ dataset.url }}">
                <i class="fa fa-download" aria-hidden="true"></i> Download
            </md-button>
        </div>
    </div>
</section>