<md-button class="md-raised md-primary" ng-click="showUploadDataset($event)">+ New Dataset</md-button>

<h1>Club Datasets</h1>
<table>
    <tr>
        <th>Dataset Name</th>
        <th>Description</th>
        <th>Tags</th>
        <th>File type</th>
    </tr>

    <tr ng-repeat="dataset in clubDatasets">
        <td ng-if="!dataset.sponsored">{{ dataset.name }}</td>
        <td ng-if="!dataset.sponsored">{{ dataset.description }}</td>
        <td ng-if="!dataset.sponsored">{{ dataset.tags }}</td>
        <td ng-if="!dataset.sponsored">{{ dataset.type }}</td>
        <td ng-if="!dataset.sponsored"><a ng-href="{{ dataset.url }}">Download</a></td>
    </tr>
</table>

<h1>Sponsored Datasets</h1>
<table>
    <tr>
        <th>Dataset Name</th>
        <th>Description</th>
        <th>Tags</th>
        <th>File type</th>
    </tr>

    <tr ng-repeat="dataset in sponsoredDatasets">
        <td>{{ dataset.name }}</td>
        <td>{{ dataset.description }}</td>
        <td>{{ dataset.tags }}</td>
        <td>{{ dataset.type }}</td>
        <td><a ng-href="{{ dataset.url }}">Download</a></td>
    </tr>
</table>